<!--==== TAILWIND CONFIG ====-->
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../tailwindConfig.js"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
<style>
  * {
    font-family: "Space Grotesk";
  }
</style>
<!--========-->

<div class="w-screen h-screen flex justify-center items-center bg-[#2929294D]">
  <div class="w-8/12 h-fit rounded-3xl z-10 bg-white p-5">
    <div class="grid grid-cols-10 mt-10 mx-10">
      <div class="col-span-9">
        <span class="text-[#4747A1] text-2xl">Merchant</span>
        <span class="text-[#248AFD] text-2xl">#TZ3BE699GL5P</span>
      </div>
      <div class="flex place-self-center">
        <button
          class="w-10 h-10 border-2 border-[#4747A1] rounded-full flex flex-row items-center"
        >
          <div class="w-8 mx-2">
            <svg
              viewBox="0 0 11 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3988 10.3986L1.18652 1.18633M1.18652 10.3986L10.3988 1.18633L1.18652 10.3986Z"
                stroke="#4747A1"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>
      </div>
      <div class="col-span-10 text-[#00000080] mt-3">
        All data is shown below about this transaction.
      </div>
    </div>

    <div class="mt-8 text-[#00000080] grid grid-cols-4 gap-5 mb-10 mx-10">
      <div>Ref#</div>
      <div class="text-[#4747A1]">TZ3BE699GL5P</div>
      <div>Relationship</div>
      <div class="text-[#000000B2]">Cash Management Services</div>
      <div>Name</div>
      <div class="text-[#000000B2]">John Cena</div>
      <div>Products</div>
      <div class="text-[#000000B2]">Coin Swap</div>
      <div>Phone</div>
      <div class="text-[#000000B2]">+38603669653</div>
      <div>Reserve Period</div>
      <div class="text-[#000000B2]">20 Days</div>
      <div>TIN</div>
      <div class="text-[#000000B2]">26524354</div>
      <div>Payfluent Fee (%)</div>
      <div class="text-[#000000B2]">10.00</div>
      <div>Entity Type</div>
      <div class="text-[#000000B2]">Business Licence</div>
      <div>Status</div>
      <div class="text-[#248AFD]">Approved</div>
      <div>Approved On</div>
      <div class="text-[#000000B2]">Jun 21, 12:00 AM</div>
    </div>
  </div>
</div>
