<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--==== TAILWIND CONFIG ====-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../tailwindConfig.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Space Grotesk";
      }
    </style>
    <!--========-->
  </head>
  <body>
    <div class="w-11/12 grid grid-cols-1">
      <div class="grid grid-cols-12 gap-3 p-5 text-[#00000080]">
        <span class="col-span-3">APPLICANT NAME</span>
        <span class="col-span-3">APPLICATION ID</span>
        <span class="col-span-4">BUSINESS TYPE</span>
        <span class="col-span-2 place-self-end">DATE SUBMITTED</span>
      </div>
      <hr class="border-[#DEE4E7] ml-5" />

      <div class="grid grid-cols-12 gap-3 p-5 text-[#00000080] bg-[#FFFFFF]">
        <span class="col-span-3 grid grid-cols-6">
          <div class="col-span-3">Tomáš Kocí</div>
        </span>
        <span class="col-span-3">edjhdj999589659jjjasdsss </span>
        <span class="col-span-4">Crypto</span>
        <span class="col-span-2 place-self-end">Jun 21, 12.00 AM</span>
      </div>

      <hr class="[#DEE4E7] ml-5" />
      <div class="grid grid-cols-12 gap-3 p-5 text-[#00000080] bg-[#FBFDFF]">
        <span class="col-span-3 grid grid-cols-6">
          <div class="col-span-5">Tomáš Kocí</div>
        </span>
        <span class="col-span-3">edjhdj999589659jjjasdsss </span>
        <span class="col-span-4">Crypto</span>
        <span class="col-span-2 place-self-end">Jun 21, 12.00 AM</span>
      </div>
    </div>
  </body>
</html>
