<!--==== TAILWIND CONFIG ====-->
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../tailwindConfig.js"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
<style>
  * {
    font-family: "Space Grotesk";
  }
</style>
<!--========-->

<!--just for better presentation, each button got to be used on its own-->
<div class="w-full h-screen flex justify-center items-center gap-5">
  <!--left buttons-->
  <button
    class="w-12 h-12 border-2 border-[#4747A1] rounded-full flex items-center justify-center"
  >
    <div class="w-3">
      <svg viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.17295 0.689888L0.828125 5.90435L6.17295 11.3795"
          stroke="#4747A1"
        />
      </svg>
    </div>
  </button>
  <button
    class="w-12 h-12 border-2 border-[#4747A1] rounded-full flex items-center justify-center bg-[#4747A1]"
  >
    <div class="w-3">
      <svg viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.17295 0.68988L0.828125 5.90435L6.17295 11.3795"
          stroke="white"
        />
      </svg>
    </div>
  </button>

  <!--right buttons-->
  <button
    class="w-12 h-12 border-2 border-[#4747A1] rounded-full flex items-center justify-center"
  >
    <div class="w-3">
      <svg viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.827046 0.689888L6.17188 5.90435L0.827046 11.3795"
          stroke="#4747A1"
        />
      </svg>
    </div>
  </button>

  <button
    class="w-12 h-12 border-2 border-[#4747A1] rounded-full flex items-center justify-center bg-[#4747A1]"
  >
    <div class="w-[0.85em]">
      <svg viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1.20009 0.528305L6.54492 5.74277L1.20009 11.218"
          stroke="white"
        />
      </svg>
    </div>
  </button>
</div>
