<!--==== TAILWIND CONFIG ====-->
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../tailwindConfig.js"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
<style>
  * {
    font-family: "Space Grotesk";
  }
</style>
<!--========-->

<!--just for better presentation, each button got to be used on its own-->
<div class="w-full h-screen flex justify-center items-center gap-5">
  <!--Approved-->
  <div
    class="w-24 h-9 rounded-lg flex items-center place-content-center bg-[#E5F9E7] text-[#477957]"
  >
    Approved
  </div>
  <!--Pending-->
  <div
    class="w-20 h-9 rounded-lg flex items-center place-content-center bg-[#EFEFEF] text-[#6C6C6C]"
  >
    Pending
  </div>
  <!--Denied-->
  <div
    class="w-16 h-9 rounded-lg flex items-center place-content-center bg-[#FFF3F2] text-[#FD413C]"
  >
    Denied
  </div>
</div>
