<!--==== TAILWIND CONFIG ====-->
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../tailwindConfig.js"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@300;400;500;700&display=swap"
  rel="stylesheet"
/>
<style>
  * {
    font-family: "Space Grotesk";
  }
</style>
<!--========-->

<div class="w-screen h-screen flex justify-center items-center bg-[#2929294D]">
  <div class="w-8/12 h-fit rounded-3xl z-10 bg-white p-5">
    <div class="mt-10 mx-10 grid grid-cols-10">
      <div class="col-span-9">
        <span class="text-[#4747A1] text-2xl">Merchant</span>
        <span class="text-[#248AFD] text-2xl">#TZ3BE699GL5P</span>
      </div>
      <div class="flex place-self-center">
        <div
          class="w-7 h-7 rounded-full border-[1px] border-[#4747A1] flex items-center justify-center"
        >
          <div class="w-5 p-1">
            <svg
              viewBox="0 0 11 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3988 10.3986L1.18652 1.18633M1.18652 10.3986L10.3988 1.18633L1.18652 10.3986Z"
                stroke="#4747A1"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="col-span-10 text-[#00000080] mt-3">
        All data is shown below about this transaction.
      </div>
    </div>

    <div class="mt-8 text-[#00000080] grid grid-cols-2 gap-2 mb-10 mx-10">
      <div class="row-start-1 row-end-auto grid grid-cols-2">
        <div>Ref#</div>
        <div class="text-[#4747A1]">TZ3BE699GL5P</div>
        <div>External Ref#</div>
        <div class="text-[#000000B2]">kaorlawo56578wkjla49</div>
        <div>Amount</div>
        <div class="text-[#000000B2]">$3.21</div>
        <div>Reserve amount</div>
        <div class="text-[#000000B2]">$2.10</div>
        <div>Type</div>
        <div class="text-[#000000B2]">DEBIT</div>
        <div>Date</div>
        <div class="text-[#000000B2]">2021-10-04 13:03:16</div>
        <div>Card</div>
        <div class="text-[#000000B2]">**** **** **** 9992</div>
        <div>Card Expiry</div>
        <div class="text-[#000000B2]">2025/12</div>
        <div>Network resp code</div>
        <div class="text-[#000000B2]">00</div>
        <div>Network ref</div>
        <div class="text-[#000000B2]">N/A</div>
        <div>Approval Code</div>
        <div class="text-[#000000B2]">1222691</div>
        <div>Status</div>
        <div class="text-[#248AFD]">Success</div>
      </div>
      <div class="row-start-1 row-end-auto mr-20">
        <div class="w-full text-2xl border-2 border-[#DBEAFE] rounded-2xl">
          <div class="text-[#4747A1] mt-6 ml-4">Charges</div>
          <div class="grid grid-cols-2 gap-3 p-5 text-lg">
            <div>Interchange Fees</div>
            <div class="flex place-content-end text-[#000000B2]">$ 2.06</div>
            <div>Processor Fees</div>
            <div class="flex place-content-end text-[#000000B2]">$ 0.03</div>
            <div>Network Fees</div>
            <div class="flex place-content-end text-[#000000B2]">$ 3.21</div>
            <div>Payfluent Fees</div>
            <div class="flex place-content-end text-[#000000B2]">$ 2.10</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
